Node-Red Flow.json
[{"id":"3a66098a.389fb6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71933ea4.ed88b","type":"mqtt in","z":"3a66098a.389fb6","name":"Local MQTT Broker","topic":"helium/#","qos":"1","datatype":"auto","broker":"ac0e6118.4da96","nl":false,"rap":false,"x":330,"y":160,"wires":[["6b054d00.e3d6b4","26563fe0.4ce14"]]},{"id":"6b054d00.e3d6b4","type":"debug","z":"3a66098a.389fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"26563fe0.4ce14","type":"json","z":"3a66098a.389fb6","name":"","property":"payload","action":"","pretty":false,"x":530,"y":160,"wires":[["8b704ef5.0ca63","f69ee6d3.741c48"]]},{"id":"8b704ef5.0ca63","type":"geohash","z":"3a66098a.389fb6","name":"create geohash","property":"payload","x":700,"y":160,"wires":[["6117b16e.5f536","99679faf.997a3"]]},{"id":"6117b16e.5f536","type":"function","z":"3a66098a.389fb6","name":"reformat json","func":"var thing = [{\n\treported_at: msg.payload.reported_at,\n\thotspot_name: msg.payload.hotspot_name,\n\trssi: msg.payload.rssi,\n\tsnr: msg.payload.snr,\n\tspreading: msg.payload.spreading,\n\tALARM_status: msg.payload.ALARM_status,\n    battery: msg.payload.battery,\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    MD: msg.payload.MD\n},\n\n{\n  geohash:msg.payload.geohash,\n  name:msg.payload.name\n}\n\n]\n\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":160,"wires":[["1a9711df.a4af4e","90a9bbf2.2ff7e8"]]},{"id":"90a9bbf2.2ff7e8","type":"influxdb out","z":"3a66098a.389fb6","influxdb":"89801ba4.b3e168","name":"local InfluxDB","measurement":"mapper_data","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1080,"y":160,"wires":[]},{"id":"f69ee6d3.741c48","type":"debug","z":"3a66098a.389fb6","name":"MQTT JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"99679faf.997a3","type":"debug","z":"3a66098a.389fb6","name":"GEO HASH","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"1a9711df.a4af4e","type":"debug","z":"3a66098a.389fb6","name":"Write to Influx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":100,"wires":[]},{"id":"ac0e6118.4da96","type":"mqtt-broker","name":"local MQTT","broker":"localhost","port":"1887","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"89801ba4.b3e168","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"gpstracker","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]